
/* change spacer after navbar fixed */
.spacer{
    /* background-color: black; */
    width: 100%;
    height: 63px;
}

.homePageContainer{

    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
    width: 100%;

    /* position: absolute; */
}


.centeredContainer{
    display: flex;
}

.userListDiv{
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    height: 119px;
    width: 614px;
    justify-content: flex-start;
    margin: 12px 20px;
    overflow: auto;
}

/* .userListDiv::-webkit-scrollbar{
    background-color: black;
} */

.innerUserListDiv{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* align-items: flex-start; */

}
.eachUser{
    /* display: flex;
    flex-direction: column; */
    
    background-image: url("../images/default.png");
    background-size:contain;
    width: 56px;
    height: 56px;
    border: solid #fff 2px;
    outline: solid purple 2px;
    border-radius: 50%;
    z-index: 0;
}

.eachUserName{
    text-align: center;
    margin-top: 5px;
    width: 56px;
    border-radius: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 300;
    
}

.imageListDiv{
    justify-content: center;
    width: 614px;
    display: flex;
    flex-direction: column;
    
}

.eachImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    /* height is temporary */
    /* should adjust to image size */
    /* height: 382px; */
    height: auto;
    width: 614px;
    
    margin: 12px 20px;
    margin-bottom: 3px;
    /* overflow:auto; */
}



.userinfodiv{
    width: 293px;
    margin: 30px 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    font-size: 14px;
    align-items: center;
}

.thisUser{
    background-image: url("../images/default.png");
    background-size:contain;
    width: 56px;
    height: 56px;
    /* border: solid #fff 2px; */
    /* outline: solid purple 2px; */
    border-radius: 50%;
    z-index: 0;
   
}

.thisUserName{
    margin-left: 5px;
}

.usersUN{
    font-weight: bold;
}

.usersFN{
    color: #8e8e8e;
}

.imghead{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 614px;
    padding: 10px 0px;
    border-bottom: #dbdbdbad solid 1px;
    
    

}

.eachPicPP{
    background-image: url("../images/default.png");
    background-size:contain;
    width: 56px;
    height: 56px;
    border: solid #fff 2px;
    outline: solid purple 2px;
    border-radius: 50%;
    z-index: 0;
}

.imgOptions{
    background-image: url("../images/options.png");
    height:100px;
    width: 100px;
    background-size:contain;
    
}

/* .noimgOptions{

} */

.eachPicUN{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.imgdivhome{
    /* overflow:hidden; */
    /* height: t */
    height: fit-content;

}
.imgpic{
    /* overflow:hidden; */
    object-fit:contain;
    max-width: 614px;
    max-height: auto;
    height: auto;
    display: inline;
}

.rightContainer{
    position:static;
    margin-right: 315px;
}

.staticContainer{
    position: fixed;
}

@media (max-width: 970px) {
    .rightContainer{
        display: none;
    }

}

.imgcom{
    width: 615px;
    display: flex;
    flex-direction: row;
    min-height: 53px;
    border-top: #dbdbdbad solid 1px;
}

.content{
    display: flex;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    /* overflow:inherit; */
    resize:none;
    border: none;
    font-size: 14px;
    padding: 10px;
    text-align:unset;
    outline: none;
}

.combtn{
    width: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size:14px;
    font-weight: 500;
    
}

.combtn:hover{
    cursor: pointer;
}

.editcom{
    /* width: 10%; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size:12px;
    font-weight: 500;

}

.delcom{
    /* width: 10%; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size:12px;
    font-weight: 500;

}

.editcom:hover{
    cursor: pointer;
}

.delcom{
    cursor: pointer;
}

.commentDiv{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    align-items: center;
}

.EDdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 20px
}

.homeCapDiv{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    align-items: center;    

}

.EDdivfake{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 135px
}

.aboveLC{
    margin-top:300px;
}