.spacer {

    width: 100%;
    height: 63px;
}

.homePageContainer {

    display: flex;

    flex-direction: column;
    align-items: center;
    width: 100%;


}


.centeredContainer {
    display: flex;
}

.userListDiv {
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    height: 119px;
    width: 470px;
    justify-content: flex-start;
    margin: 12px 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.userListDiv::-webkit-scrollbar {
    display: none;
}


.innerUserListDiv {
    display: flex;
    flex-direction: column;
    margin: 10px;


}

.eachUser {



    background-image: url("../images/default.png");
    background-size: contain;

    width: 56px;
    height: 56px;
    border: solid #fff 2px;
    outline: none;
    border-radius: 50%;
    box-shadow: 0 0 0 3px purple;

    z-index: 0;
}

.eachUserPic {

    background-size: contain;

    width: 56px;
    height: 56px;

    outline: none;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;


    z-index: 0;
}

.eachUserName {
    text-align: center;
    margin-top: 5px;
    width: 60px;
    height: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis
}

.imageListDiv {
    justify-content: center;
    width: 470px;
    display: flex;
    flex-direction: column;

}

.eachImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 1px #dbdbdb;



    height: auto;
    width: 470px;

    margin: 12px 20px;
    margin-bottom: 3px;

}



.userinfodiv {
    width: 293px;
    margin: 30px 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    font-size: 14px;
    align-items: center;
}


.sugPicAndUN {
    display: flex;
    flex-direction: row;
}

.sugusersdiv {
    width: 293px;
    margin: 20px 0 0 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.thisUser {
    background-image: url("../images/default.png");
    background-size: contain;
    width: 56px;
    height: 56px;


    border-radius: 50%;
    z-index: 0;

}

.thisUserName {
    margin-left: 5px;
}

.usersUN {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.usersFN {
    color: #8e8e8e;
}

.sugfont {
    margin-top: 10px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #8e8e8e;
}

.imghead {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: inherit;
    padding: 10px 0px;
    border-bottom: #dbdbdbad solid 1px;



}

.eachPicPP {

    background-image: url("../images/default.png");
    background-size: contain;

    width: 32px;
    height: 32px;

    outline: none;
    object-fit: cover;
    border-radius: 50%;


    z-index: 0;
}

.eachPicPP2 {

    background-image: url("../images/default.png");
    background-size: contain;

    width: 32px;
    height: 32px;

    outline: none;
    object-fit: cover;
    border-radius: 50%;


    z-index: 0;
}

.notfollowing {}

.imgOptions {
    background-image: url("../images/options.png");
    height: 100px;
    width: 100px;
    background-size: contain;

}

.noimgOptions {
    height: 25px;
    width: 30px;
}

.eachPicUN {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.imgdivhome {


    height: fit-content;

}

.imgpic {

    object-fit: contain;
    max-width: 470px;
    min-width: 470px;
    max-height: auto;
    height: auto;
    display: inline;
}

.rightContainer {
    position: static;
    margin-right: 315px;
}

.staticContainer {
    position: fixed;
}

.imgcom {
    width: 450px;
    display: flex;
    flex-direction: row;
    min-height: 53px;

}

.commentline {
    width: 470px;
    border-color: #8e8e8e;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid .1px #dbdbdbad;
}

.viewcommentline {
    width: 470px;
    border-color: #8e8e8e;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid .1px #dbdbdbad;
}

.content {
    display: flex;
    height: 60px;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;

    resize: none;
    border: none;
    font-size: 14px;
    padding: 10px;
    text-align: unset;
    outline: none;

}

.combtn {
    width: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 500;

}

.combtn:hover {
    cursor: pointer;
}

.combtn:disabled {
    color: #adddfe;
}

.editcom {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0095f6;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 500;

}

.delcom {

    display: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8e8e8e;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 10px;
}

.cap-com:hover .delcom {
    display: inline;
}


.editcom:hover {
    cursor: pointer;
}

.delcom:hover {
    cursor: pointer;
}

.commentDiv {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 600px;
    align-items: center;
}



.homeCapDiv {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    align-items: center;
    overflow-wrap: break-word;


}

.EDdivfake {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 135px
}

.aboveLC {
    margin-top: 30px;
}



@media (max-width:1350px) {

    .vmodal {
        width: 80%;
    }

    .picViewPic {
        width: 100%;
    }

}

@media (max-width:1000px) {


    .dropcontainer {}

    .picViewPic {
        width: 100%;
    }

    .rightContainer {
        display: none;
    }
}


@media (max-width: 970px) {

    .infoView {
        display: none;
    }

    .profInfo {
        width: auto;
        padding: 50px 5px;
    }

    .profpic {
        margin: 0 5px;
    }

    .noprofpicbtn {

        margin: 0 5px;
    }

    .behindBtn {
        width: auto;
        margin: auto;
        padding: 0 5px;
    }

    .profHead {
        display: flex;
        justify-content: center;
        width: 100%;

    }

    .myImageDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}



@media (max-height:860px) {


    .vmodal {
        height: 80%;
    }

    .infoView {
        height: 100%;
    }

    .viewModal {
        height: 100%;
    }

    .picViewPic {
        height: 100%;
    }

    .picViewDiv {
        height: 100%;
    }

}

@media (max-width: 650px) {

    .splitter {
        display: none;
    }

    .searchdiv {
        display: none;
    }

}

.innerviewtop {
    overflow: auto;
    overflow-x: hidden;
}





/* @media (max-height:1000px) {

   

    .picViewPic {
        height: 100%;
    }
} */