.divContainer {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.contContainer {
    display: flex;
    flex-direction: row;
}

.phoneImg {
    display: flex;
    background-image: url("../images/phone.png");
    width: 380px;
    height: 580px;
    background-size: contain;


    z-index: 0;
    margin-right: 20px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: solid 1px #dbdbdb;

    height: 382px;
    width: 350px;
    margin-top: 10px;
}

.signupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    height: 542px;
    width: 350px;
    margin-top: 10px;

}

.redirContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    height: 63px;
    width: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.inputField {
    background-color: #fafafa;
    margin: 3px;
    font-size: 12px;
    border: solid 1px #dbdbdb;
    text-overflow: ellipsis;
    height: 37px;
    width: 264px;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.errmss {


    font-size: 10px;
    color: red;

    text-overflow: ellipsis;
    height: 10px;
    width: 260px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.realInput {

    background-color: transparent;

    font-size: 12px;

    text-overflow: ellipsis;
    height: 12px;
    width: 260px;
    border: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.passInput {

    background-color: transparent;

    font-size: 12px;

    text-overflow: ellipsis;
    height: 12px;
    width: 230px;
    border: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.eye {
    position: absolute;
    cursor: pointer;
    margin-top: 2px;
}

.realInput {
    background-color: transparent;

    font-size: 12px;

    text-overflow: ellipsis;
    height: 12px;
    width: 260px;
    border: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.inputField:focus {
    border-color: #8e8e8ed0;
    outline: none;
}

input {
    text-overflow: ellipsis;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formContainer {
    display: flex;

    flex-direction: column;
    align-items: center;

}

.btn {
    background-color: #0095f6;
    border: transparent;
    color: #fff;
    height: 32px;
    width: 266px;
    border-radius: 3px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn:disabled {
    background-color: #adddfe;
}

.editformbtn {
    background-color: #0095f6;
    border: transparent;
    color: #fff;
    height: 32px;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin: 10px;
}

.editformbtn:hover {
    cursor: pointer;
}

.editformbtn:disabled {
    background-color: #adddfe;

}

.mainTitle {
    margin-top: 20px;
    font-family: cursive;
    font-size: 40px;
    font-weight: bolder;
}

.blurb {

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #8e8e8e
}

.orLineContainer {
    display: flex;
    flex-direction: row;

}

.loginline {
    width: 100px;
    border-color: #8e8e8e;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: solid .1px #dbdbdb;
}

.orWord {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #8e8e8e;
    margin: 0px 20px;

}



.link {
    padding: 5px;
    color: #0095f6;
    text-decoration: none;
    font-weight: bold;
}

.switchdiv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}