.containerContainer {
    position: fixed;
    margin-top: 0px;
    padding-top: 0px;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 2;
}

.navContainer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-bottom: solid 1px #dbdbdb;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 3;
    height: 60px;
}

.navbarTitle {
    font-family: cursive;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin: 0px 00px;

}

.navtitlediv {
    display: flex;
}

.searchdiv {
    display: flex;
    align-items: center;
    justify-content: center;

}

.nbcc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttondiv {
    padding: 0 5px;
    margin: 0;
}


.navBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;




}


.navbtn {

    background-size: contain;
    width: 24px;
    height: 24px;

    background-color: transparent;
    border: transparent;
    margin: 5px;
    z-index: 2;
    border-radius: 50%;

}

.navbtn:hover {
    cursor: pointer
}


.dropdown {
    display: none;

    position: absolute;

    background-color: #fff;



    margin-top: 200px;
    margin-right: 100px;


    width: 200px;
    border-radius: 5px;


    box-shadow: 0 0 20px #dbdbdb;
    position: absolute;

    flex-direction: column;
    outline: 0;
    border: none;
    text-align: center;


}

.userbtn:focus .dropdown {

    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: none;

}

.userbtn:focus .triangle {
    display: block;
}

.dropdownbtn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding: 10px 15px;
    margin: 0px;
    text-align: left;


}

.dropdownbtn:hover {
    background-color: #fafafa;
}

.triangle {
    display: none;
    position: absolute;
    margin-top: 41px;
    z-index: 3;

    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;


    border-bottom: 10px solid #ffffff;

}

.profbtn {
    border-radius: 5px 5px 0 0;

}

.logoutbtn {
    border-top: solid 1px #dbdbdb;
    border-radius: 0 0 5px 5px;
}

:focus {
    outline: 0;
}



.userimgbtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    outline: 0;
    border: none;
    background-size: contain;
    width: 24px;
    height: 24px;

    background-color: transparent;
    border: transparent;
    object-fit: cover;
    margin: 0px;
    z-index: 2;
    border-radius: 50%;
}




.homebtn {
    background-image: url("../images/inHouse.png");

    height: 24px;
    width: 24px;

}

.search {
    position: static;
    background: #EFEFEF;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    width: 230px;
    font-size: 17px;
    padding: 8px 20px;
    border-radius: 8px;

}


.dropsearch {

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 450px;
    box-shadow: 0 0 20px #dbdbdb;
    border-radius: 7px;
    background-color: #fff;
    max-width: 375px;
    margin-top: 512px;


    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.dropsearch::-webkit-scrollbar {
    display: none;
}

.searchtriangle {
    position: absolute;
    margin-top: 52px;
    z-index: 3;

    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.dropname {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: static;
    display: flex;

    padding: 0 10px;

    z-index: 3;



    height: 60px;

    max-width: 375px;

    justify-content: flex-start;
    align-items: center;






    flex-direction: row;
    outline: 0;
    border: none;
    text-align: center;

    z-index: 0;

}

.dropname:hover {
    background-color: #fafafa;
    cursor: pointer;
    width: 355px;
    border-radius: 7px;
}



.listpic {
    background-image: url("../images/default.png");
    background-size: contain;
    width: 44px;
    height: 44px;

    object-fit: cover;



    border-radius: 50%;
    z-index: 0;
}

.userAndFullDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.usersearch {
    font-weight: bold;
}

.fullsearch {
    color: #8e8e8e
}



.addimg {
    background-image: url("../images/plus.png");
}

.userbtn {

    background-image: url("../images/default.png");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.splitter {
    margin: 12px;
}



/* @media (max-width: 970px) {
    
    
} */