
/* Maybe use GRID?
ROWS OF 3 */

.spacer{
    width: 100px;
    height: 150px;
}

.myImageDiv{
    /* justify-content: center; */
    width: 935px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-direction: column; */
}

.myImage{
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: solid 1px #dbdbdb;
    /* height is temporary */
    /* should adjust to image size */
    height: 293px;
    width: 293px;
    justify-content: center;
    margin: 20px
}

.myImage:hover{
    cursor: pointer;
}